.Login {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.login > img, .Logo {
    height: 65rem;
}

.FormLogin {
    width: 40rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin: 5rem 0rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
}

.Login input {
    margin: 1rem 2.5rem;
    height: 5rem;
    width: 35rem;
    border-radius: 1rem;
    padding: 16px;
    background-color: #fff6f4;
}

label {
    margin-left: 2.5rem;
}

.password a {
    padding-right: 3rem;
    float: right;
}

.Login p {
    margin-left: 2.5rem;
}

.Login h1 {
    margin-left: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form img {
    padding-left: 2rem;
    width: 20rem;
    height: 12rem;
}

.forgotpassword {
    font-size: 1.3rem;
    color: gray;
}

.textregister {
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    margin-bottom: 4rem;
}

.textregister a {
    color: #f47458;
}

.submit {
    text-align: center;
    margin: 2rem 10rem;
    height: 4.2rem;
    width: 20rem;
    color: white;
    background-color: #f47458;
    border-radius: 1rem;
    font-size: 1.7rem;
}

.error-container {
    font-size: 1.3rem;
    margin-left: 2.5rem;
    list-style: none;
    width: 40rem;
    height: auto;
    color: rgba(255, 0, 0, 0.6);
    background-color: white;
}
